.topo {
    border-bottom: 1px solid ;
    box-shadow: 0 0 1em black;
    background: rgb(209,50,20);
    background: linear-gradient(238deg, rgba(209,50,20,1) 5%, rgba(213,73,73,1) 100%, rgba(218,124,124,0) 100%);
    opacity: .9;
}

.topo nav ul{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    list-style: none;
}

.topo nav ul li {
    border-bottom: 1px solid black;
}



a{
    text-decoration: none;
    color: black;
}

