.main {
    text-align: center;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    text-align: left;
    font-size: 1.85em;
    padding-left: 20px;
}

summary img{
    width: 20px;
    margin-right: 10px;
}